:root {
    --body-bg: #0b0c11;
    --text: white;
    --primary-bg: #0c5d57;
    --primary-strong: #0c3634;
    --primary-light: #078987;
    --secondary-bg: #d2ae67;
    --bg-danger: #90282a;

    --border-width: 0.01rem;
}

body,
#root {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background: var(--body-bg);
    color: var(--text);
}

.shadow {
    box-shadow: 0 0.1em 0.2em var(--bg-main);
}

.border {
    border: var(--primary-bg) 0.07em solid;
}

.border-secondary {
    border: solid 0.01em color-mix(in srgb, var(--secondary-bg), transparent 25%);
    border-radius: 0.25rem;
}

.glass {
    backdrop-filter: blur(0.1em);
    background-color: transparent;
}

@import './style.css';

.striped-pattern {
  background: repeating-linear-gradient(
    0deg,
    var(--primary-bg),
    var(--primary-bg) 0.3rem,
    var(--primary-strong) 0.3rem,
    var(--primary-strong) 0.6rem
  );
}

.gilded-border {
  box-shadow: inset var(--border-width) var(--border-width) var(--border-width)*2 var(--border-width) var(--secondary-bg), 5px 5px 15px 5px rgba(0, 0, 0, 0), /* top */
    inset var(--border-width) -var(--border-width) var(--border-width)*2 var(--border-width) var(--secondary-bg), 5px 5px 15px 5px rgba(0, 0, 0, 0), /**/
    inset -var(--border-width) var(--border-width) var(--border-width)*2 var(--border-width) var(--secondary-bg), 5px 5px 15px 5px rgba(0, 0, 0, 0), /**/
    inset -var(--border-width) -var(--border-width) var(--border-width)*2 var(--border-width) var(--secondary-bg), 5px 5px 15px 5px rgba(0, 0, 0, 0); /* bottom */
}


/*
:root {
  --bg-main: #0b0c11;

  --bg-primary: #0c5d57;
  --bg-primary-strong: #0c3634;

  --bg-danger: #90282a;

  --bg-save: #30a72c;
  --bg-load: #078987;
  --bg-config: #ff6c37;

  --text-main: #dce3e6;
  --text-main-strong: #d2ae67;

  --border-primary: #0c5d57 0.07em solid;
  --border-glass: inset 0 0 0.1em #dce3e6;

  --box-shadow: 0 0.1em 0.2em var(--bg-main);
  --box-shadow-strong: 0 0.2em 0.4em var(--bg-main);
}


            "boxShadow": "inset 0 0 0.1em white",
            "borderRadius": "0.4em",
/**/
